body {
    width: 100vw;
    height: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(19, 38, 90);
}
/*Estilisa o corpo da página*/

canvas {
    position: absolute;
}
/*Posiciona o CANVAS do faceid*/

#faceid {
    position: absolute;
    top: 15%;

    color: rgb(187, 187, 187);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Estilisa o texto FACEID*/

video {
   border: 6px solid white;
   box-sizing: border-box;
}
/*Estilisa a CAM*/
